:root {
  --color-gray: gray;
  --color-gray-2: #808080;
  --color-green: green;
  --color-black: #212529;
  --color-pink: pink;
  --color-main: #003835;
  --color-white: #ffffff;
}

html {
  background: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f7f7f7;
}
body main {
  background: var(--color-white);
  margin: auto;
  max-width: 600px;
}
body .container {
  max-width: 600px;
}
body .text-color-main {
  color: var(--color-main);
  color: red;
}
body .photo-wapper {
  position: relative;
}
body .img-desc img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .btn-photo-right,
body .btn-photo-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background: transparent;
  outline: none;
  z-index: 999;
  font-size: 1.6rem;
  color: var(--color-gray);
}
body .btn-photo-right {
  right: 10px;
}
body .btn-photo-left {
  left: 10px;
}
body .slick-slider-dots {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
body .slick-slider-dots ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
body .slick-slider-dots ul li {
  margin: 0 4px;
}
body .slick-slider-dots ul li button {
  background: var(--color-gray);
  height: 4px;
  width: 20px;
  overflow: hidden;
  color: var(--color-gray);
  border: none;
  border-radius: 4px;
}
body .slick-slider-dots ul li.slick-active button {
  background: var(--color-green);
  color: var(--color-green);
}
body .crad-time-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;
}
body .crad-time {
  border: 1px solid var(--color-black);
  border-radius: 10px;
  width: 80px;
  padding: 16px 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
body .crad-time .time-down {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5rem;
}
body .crad-time .time-desc {
  text-transform: uppercase;
  font-size: 0.9rem;
}
body .time-down-action {
  width: 50%;
  padding: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  outline: none;
  background: transparent;
  border: 1px solid var(--color-black);
  font-size: 22px;
}
body .img-line {
  background-image: url("../img/papyrus.png");
  height: 120px;
}
body .feedback-crad-wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
body .feedback-crad-wrapper .feedback-card {
  cursor: pointer;
  min-width: 150px;
  padding: 20px 15px;
  border: 1px solid var(--color-gray-2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .feedback-crad-wrapper .feedback-card span {
  font-weight: 500;
  color: var(--color-gray-2);
  font-size: 15px;
}
body .feedback-crad-wrapper .feedback-card .feedback-card-img {
  width: 60px;
  height: 60px;
}
body .feedback-crad-wrapper .feedback-card .feedback-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .feedback-crad-wrapper .feedback-card.border {
  border: 2px solid var(--color-main) !important;
}
body .feedback-crad-wrapper .feedback-card.border span {
  color: var(--color-main);
}
body .form-input-wrapper {
  display: flex;
  flex-direction: column;
}
body .form-input-wrapper input,
body .form-input-wrapper select {
  font-size: 18px;
  padding: 0.8rem;
}
body .card-ss {
  cursor: pointer;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
}
body .card-ss .card-ss-img {
  width: 60px;
}
body .card-ss .card-ss-desc {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-weight: 500;
}
body .card-ss.border {
  border: 2px solid var(--color-main) !important;
}
body .btn-feedback {
  background-color: var(--color-main);
  color: var(--color-white);
  padding: 14px;
  font-size: 22px;
  border-radius: 5px;
}
body .qr-code .container {
  border-top: 1px solid #eee;
}
body .qr-code .qr-header img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .qr-code .qr-img {
  padding: 20px 40px;
}
body .qr-code .qr-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .map .container {
  border-top: 1px solid #eee;
}
body .contact-social .img-contact img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .contact-social .contact-phone-wrapper {
  display: flex;
}
body .contact-social .contact-phone-card {
  text-decoration: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
}
body .contact-social .contact-phone-card span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--color-main);
}
body .contact-social .contact-phone-card .contact-phone-card-icon {
  color: var(--color-white);
  background-color: var(--color-main);
  width: 2.1rem;
  height: 2.1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 0 3px var(--color-white), 0 0 0 5px var(--color-main);
}
body .socical-wapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
body .socical-wapper .socical-card {
  width: 40px;
  height: 40px;
  padding: 8px;
  color: var(--color-white);
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .socical-wapper .socical-card.fb {
  background-color: #3b5998;
}
body .socical-wapper .socical-card.instagram {
  background-color: #cb2027;
}
body .socical-wapper .socical-card.instagram i {
  font-size: 18px;
}
body .socical-wapper .socical-card.mail {
  background-color: #0F6CBD;
}
body .socical-wapper .socical-card span {
  margin-left: 4px;
}
body .footer img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */